.suggstions-loading-icon {
	top: calc(100% + 8px);
}
.suggestion-list {
	top: calc(100% + 8px);
}
.suggestion-item {
	@apply cursor-pointer px-4 py-2 text-gray-900 transition-all 
      hover:bg-primary hover:text-white;
}
.suggestion-item-active {
	@apply bg-primary  text-white;
}
