@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.suggstions-loading-icon {
		top: calc(100% + 8px);
	}
	.aui-suggestion-list {
		top: calc(100% + 8px);

		.suggestion-item {
			@apply cursor-pointer px-4 py-2 text-gray-900 transition-all 
      hover:bg-primary hover:text-white;

			&.is-active {
				@apply bg-primary  text-white;
			}
		}
	}
}
