@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
	border-radius: $border-radius;
	padding: $padding-y $padding-x;
	font-size: $font-size;
}

@mixin button-style(
	$background,
	$border,
	$color,
	$hover-background: lighten($background, 7.5%),
	$hover-border: lighten($border, 10%),
	$hover-color: $color
) {
	background: $background;
	border-color: $border;
	color: $color;
	&:hover {
		background: $hover-background;
		border-color: $hover-border;
		color: $hover-color;
	}
	&:focus,
	&.focus {
		background: $hover-background;
		border-color: $hover-border;
		color: $hover-color;
	}
	&:disabled,
	&.disabled {
		background: $background;
		border-color: $border;
		color: $color;
	}
}
